<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://unpkg.com/vue@next"></script>
<style>
#app{
margin: 0 auto;
width: 900px;
display: flex;
justify-content:center
}
#input-preview{
margin-top: 100px;
margin-left: 50px;
}
#input-preview-box{
width: 400px;
height: 400px;
}
#input-box{
margin-top: 80px;
width: 240px;
}
.rule-select{
margin: 0 2px;
width: 90px;
}
label{ 
width: 100px;
}
</style>
</head>
<body>
<div id="app">
	<div id="input-box">
		<form @submit.prevent="addToList()">
			<label>
				<span>檢舉文網址：</span>
				<input v-model="myForm.url">
			</label>
			<br>
			<label>
				<span>違規人：</span>
				<input v-model="myForm.userId" required>
			</label>
			<div>
				<label>
					<span>違規項目：</span>
					<select id="rule-option" class="rule-select" size="4" v-model="myForm.rule">
						<option v-for="rule in rules" :value="rule.type">{{rule.name}}</option>
					</select>
				</label>
				<label>
					<span>類別：</span>
					<select id="rule-sub-option" class="rule-select" size="4" v-model="myForm.subRule">
						<option v-for="subRule in subRules[myForm.rule]" :value="subRule.type">{{subRule.name}}</option>
					</select>
				</label>
			</div>
			<label>
				<span>累犯次數：</span>
				<input v-model="myForm.count" required><br>
			</label>
			<br>
			<label>
				<span>違規文章：</span>
				<input v-model="myForm.crimeEssay" required><br>
			</label>
			<br>
			<label>
				<span>違規事證：</span>
				<input v-model="myForm.evidence" required><br>
			</label>
			<br><br>
			<input type = "submit" class="btn btn-primary" value="提交">
		</form>
	</div>
	<div id="input-preview">
		<textarea id="input-preview-box" v-model="outcome"></textarea>
		<br>
		<button class="btn btn-primary" @click="copyResult()">複製結果</button>
	</div>
</div>
</body>
<script>
const { reactive, ref, watch } = Vue;
const app = {
	setup(){
		// 板規
		const rules = [
			{type : 0, name : '4-1'},
			{type : 1, name : '4-4'},
			{type : 2, name : '4-5'},
			{type : 3, name : '4-7'},
			{type : 4, name : '4-11'},
			{type : 5, name : '4-9'},
			{type : 6, name : '4-10'},
			{type : 7, name : '4-12'},
			{type : 8, name : '4-13'},
		]
		// 板規子項目
		const subRules = [
			// 4-1
			[{type : 0, name : '3D', day : 3}, {type : 1, name : '7D', day : 7}],
			// 4-4
			[{type : 0, name : '7D', day : 7}],
			// 4-5
			[{type : 0, name : '7D', day : 7}, {type : 1, name : '14D', day : 14}, {type : 2, name : '30D', day : 30}],
			// 4-7
			[{type : 0, name : '30D', day : 30}, {type : 1, name : '90D', day : 90}],
			// 4-11
			[{type : 0, name : '7D', day : 7}, {type : 1, name : '30D', day : 30}, {type : 2, name : '60D', day : 60}],
			// 4-9
			[{type : 0, name : '3D', day : 3}, {type : 1, name : '7D', day : 7}],
			// 4-10
			[{type : 0, name : '30D', day : 30}, {type : 1, name : '7D', day : 7}],
			// 4-12
			[{type : 0, name : '7D', day : 7}, {type : 1, name : '14D', day : 14}],
			// 4-13
			[{type : 0, name : '7D', day : 7}, {type : 1, name : '14D', day : 14}],
		]

		const msg = ref('dd')
		// 表單
		const myForm = reactive({
			url : '',
			userId : '',
			rule : 0,
			subRule: 0,
			count : 0,
			crimeEssay : '',
			evidence : ''
		})
		const outcome = ref('')

		// 輸出違規項目
		function addToList() {
			outcome.value +=
			`
───────────────────
違規人  ： ${myForm.userId}
違規項目： ${rules[myForm.rule].name}${numberToText(myForm.count)} 
違規文章： ${myForm.crimeEssay}
檢舉文章： ${handleURL(myForm.url)}
罰則    ： 水桶 ${countBucketDay()}日
違規事證：
${myForm.evidence}
───────────────────`
		}

		// 數字轉中文字
		function numberToText (number) {
			if (number == 1)
				return '二犯'
			else if (number == 2)
				return '三犯'
			else if (number == 3)
				return '四犯'
			else if (number == 4)
				return '五犯'
			else if (number == 5)
				return '六犯'
			else if (number == 6)
				return '七犯'
			else
				return ''
		}
		// 計算水桶天數
		function countBucketDay (){
			return subRules[myForm.rule][myForm.subRule].day * (Number(myForm.count) + 1)
		}
		// 複製公告模版內容
		function copyResult() {
			navigator.clipboard.writeText(outcome.value)
		}
		// C_CHATBM文章網址轉文章代碼
		const table = [
			['0','1','2','3','4','5','6','7'],
			['8','9','A','B','C','D','E','F'],
			['G','H','I','J','K','L','M','N'],
			['O','P','Q','R','S','T','U','V'],
			['W','X','Y','Z','a','b','c','d'],
			['e','f','g','h','i','j','k','l'],
			['m','n','o','p','q','r','s','t'],
			['u','v','w','x','y','z','-']
		]
		function handleURL(url) {
			const reg = /ChatBM\/M.{0,}\./
			const v1 = url.trim().match(reg).toString()
			const v2 = v1.split('\.')
			const essayCode = transformByTable(parseInt(v2[1]).toString(8)) + transformByTable(parseInt(v2[3], 16).toString(8))
			return '#' + essayCode + '(C_ChatBM)'
		}
		function transformByTable (oct) {
			if(oct.length %2 !== 0) 
				oct = '0' + oct
			let result = ''
			for(let i = 0; i < oct.length; i+=2)
				result += table[oct[i]][oct[i + 1]]
			return result
		}


		return { 
			myForm,
			outcome,
			rules,
			subRules,
			addToList,
			copyResult
		}
	}
}
const myVue = Vue.createApp(app).mount("#app");
</script>
</html>
